<div class="card" style="width: 18rem;">
    <div class="card-body">
        <form (submit)="onSubmit()">
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" type="text" [(ngModel)]="user.username" id="username" name="username" placeholder="Nome Utente" #name="ngModel">
            </div>
            <div class="form-group">
                <label for="email">email</label>
                <input class="form-control" type="text" [(ngModel)]="user.email" id="email" name="email" placeholder="Email" #email="ngModel">
            </div>
            <button type="submit">
                Save
            </button>
        </form>
    </div>
</div>
